body{
    background-color: #f5f2ea;
    padding: 0.5rem 5rem;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
}
h1{
    margin-bottom: 1rem;
}
h6{
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}
h6 span{
    padding-left: 1rem;
}
h6 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);

}
ul{
    display: flex;
    align-items: center;

}
li{
    list-style-type: none;
    padding-left: 2rem;
    font-size: 1rem;
}
li a, a{
    text-decoration: none;
    color: inherit;
}
button, .button{
    padding: 10px 20px;
    background-color: #fdc885;
    border-radius: 6px;
    box-shadow: none;
    border: 0;
    cursor: pointer;
}
.white-bg{
    background-color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 2rem;
    width: 30%;
    min-height: 80vh;
    border-radius: 25px;
}
.center{
    text-align: center;
    padding: 0 1rem;
}
.sr-only{
    display: none;
}
.form-row{
    margin-bottom: 10px;
}
input{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin: 0px;
}
.small-font{

    font-size: 12px;
    /* padding-left: 6px; */
    /* margin: 20px 5px; */

}
p{
    align-items: center;
    margin: 20px 5px;
}
form button{
    width: 100%;
    padding: 10px;
    margin: 10px;
}
.links{
    display: flex;
    justify-content: space-between;
}

.links a{
    text-decoration: none;
    color: inherit;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px 15px;
    border-radius: 6px;
}
.footer{
    margin-bottom: 20px;
}

#form-errors ol{
    margin: 0;
    padding: 0;
    list-style-type: disc;
}

#form-errors li{
    font-size: 14px;
    color: red;
    margin-bottom: 10px;
    padding: 0;
}